body {
    border: 2px solid navy;
    
}
.di1 {
    padding: 2%;
    border: 2px dashed deeppink;
    margin-inline: 15%;
}
.di2 {
    padding: 2%;
    border: 2px dashed gold;
    margin-inline: 15%;
}
h1 {
    text-align: right;
    font-size: 3.4vw;
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 1..8vw;
}
.imhtml {
    border: 5px dotted orangered;
    max-width: 50%;
}